*{
	border: 1px dashed blue;
	width: auto;

}

body{
	margin: 100px auto;
	width: 75%;
	height: 75%;
}

div{
	display: block;
	border: 1px solid black;
 	margin: 50px auto;
	padding: 20px;
	max-width: 15%;	
}

#div1{
	background-color: red;

}
#div2{
	background-color: blue;

}
#div3{
	background-color: yellow;
}
#div4{
	background-color: green;

}