/* Ground Zero - Don't want the browser to format it by default
   Different browsers set up webpages differently */
*{
	border: 1px dashed red;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: normal;
}


/* CSS reset for general
*{
	margin: 0;
	border: 0;
	padding: 0;
	font: inherit;
	outline: none; //Similar to borders but don't take up space
	color: inherit;
	line-height: 1;
	border-radius 0;


}*/
