*{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	color: inherit;
	font: inherit;
	text-transform: uppercase;
}

body{
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-content: flex-start;
}

header, section, #aside1, #aside2, footer{
	flex-basis: 100%;
	font-weight: bold;

	display: flex;
	align-items: center;
	justify-content: center;
}

header{
	height: 10%;
	background: tomato;
}

section{
	height: 40%;
	background: cyan;
	text-transform: none;
}

#aside1{
	height: 10%;
	background: gold;
}

#aside2{
	height: 10%;
	background: pink;
}

footer{
	height: 10%;
	background: lightgreen;
}