*{
	padding: 0;
	margin: 0;
	border: 2px solid red;
	box-sizing: border-box;
	color: inherit;
	font: inherit;
}


header, section, article, aside, footer, nav{
	margin: 3px;
	border: 2px solid black;
	color: white;
	font-size: 24px;
}

header{
	height: 100px;
	width: auto;
	background-color: red;

}

nav{
	height: 100px;
	width: auto;
	background-color: orange;
}

section{
	height: 40%;
	width: 75%;
	background-color: gold;
	display: inline-block;
	vertical-align: top;
}

article{
	height: 40%;
	width: auto;
	background-color: lime;
}

aside{
	height: 40%;
	width: 23%;
	background-color: blue;
	display: inline-block;
	vertical-align: top;
}

footer{
	height: 100px;
	width: auto;
	background-color: purple;
}