*{
	padding: 0;
	margin: 5;
	border: 0;
	box-sizing: border-box;
	font: inherit;
	color: inherit;
}

div{
	margin: 15 0;
	border: 2px solid red;
	height: 250px;
	width: auto;
	overflow: auto;

}

img{
	border: 3px solid red;
	margin: 5;
	height: 150px;
	width: 150px;
}

#image1{
	float: right;
}

#image2{
	margin: 15 5;
	height: 200px;
	width: 200px;
	float: left;
}