h1, p, div{
	width: auto;
	height: 50px;
	border: 2px solid red;
}

body{
	height: 100vh;
}




/* Specificity - 1 */

h1{
	color: red;	
}

p{
	color: violet;
}

div{
	margin-top: 5px;
	color: cyan;
}




/* Specificity - 2 */
div p {
	color: purple;
}

div h1{
	color: #98FB98;
}




/* Specificity - 10 */
 
.dog{
	color: gold;
}

.bees{
	color: orange;
}

.wasps{
	color: pink;
}




/* Specificity - 11 */
div .dog{
	color: #997950;
}




/* Specificity - 100 */
#foo{
	color: red;
}









