/* Mobile View Layout */
@media (min-width: 600px){
	body{
	border: 3px solid red;
}

ul{
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
} 



hr {
	border-top: 4px solid red;

} 
