html, body, section, nav, ul, li, a, main{
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;

}
nav, main{
	width: auto;
}

#box{
	width: 50%;
	border: 3px solid green;
	margin: 0 auto;
}
nav{
	border: 2px solid black;
}
main{
	border: 2px solid red;
}

ul{
	text-align: center;
}