*{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
	color: inherit;
	font: inherit;
}

div{
	width: 150px;
	height: 150px;
	border: 5px solid black;
	border-radius: 50%;
	background-color: blue;

	animation-name: foo;
 	animation-duration: 3s;
	animation-timing-function: ease-in;
	animation-delay: 1s;
	animation-iteration-count: infinite;
	animation-direction: normal;
	animation-fill-mode: both;
	animation-play-state: running;

}


@keyframes foo{
	from{
		margin-left: 50%;
	}

	to{
		margin-left: 100%;
	}
}
